# System Environment

NODE_ENV=""
PORT=8002

# Database

DATABASE_URL=""

# OAuth apps

GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
GITHUB_OAUTH_CLIENT_REDIRECT_URI=""

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_CLIENT_REDIRECT_URI=""

# Email

RESEND_API_KEY=""

# Cloudinary

CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""

# Redis

REDIS_URL=""

FRONTEND_URL=""

# Security

CORS_ORIGINS="*"

RATE_LIMIT_SHORT=10
RATE_LIMIT_MEDIUM=100
RATE_LIMIT_LONG=1000